/* body {
    background-position: center;
    background-color: #E0FBFC;
    background-repeat: no-repeat;
    background-size: cover;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none
}

.forgot {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #dfdfdf
}

.padding-bottom-3x {
    padding-bottom: 72px !important
}

.card-footer {
    background-color: #fff
}

.btn {
    font-size: 13px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745
}
.basic
{
    text-align: center;
    float: center;
   padding:3%;
   font-style: normal;
   color:#138496;
   margin-right: 7%;

} */


body {
    background-position: center;
    background-color: #E0FBFC;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    color: #505050;
    font-family: "Rubik", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* line-height: 1.5; */
    text-transform: none;
    margin: 0;
    padding-bottom:3%;
  }
  
  .forgot {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #dfdfdf
  }
  
  /* .padding-bottom-3x {
    padding-bottom: 72px !important
  } */
  
  .card-footer {
    background-color: #fff
  }
  
  .btn {
    font-size: 13px
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745
  }
  .basic
  {
    text-align: center;
    float: center;
   padding-top:1% ;
   margin-top:0%;
   margin:0%;
   font-style: normal;
   color:#138496;
   margin-right: 7%;
  
  }
  