<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<p-table class="container card" #dt [value]="lstclients" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5,10,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
    [globalFilterFields]="['address','clientCode ','clientName','email','organizationName','phone']">
    <ng-template pTemplate="caption">
        <h1 [translate]="'Tracker.All Clients'" style="margin-bottom: 20px; font-size: 2em;color: #2674a8;"></h1>
        <div class="row">
            <div class="table-header col-md-10">
                <!-- List of Employees -->

                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        [placeholder]="'Tracker.Global Search' | translate" />
                </span>
            </div>
            <div class="col-md-2">
                <button id="addEmpBtn" routerLink="/home/client" class="btn btn-outline-primary btn-md btn-block">
                    <span class="pi pi-plus"> {{ 'Tracker.Add' | translate }}</span> </button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>{{ 'Tracker.ClientName' | translate }}</th>
            <th>{{ 'Tracker.ClientCode' | translate }}</th>
            <th>{{ 'Tracker.OrganizationName' | translate }}</th>
            <th>{{ 'Tracker.Address' | translate }}</th>
            <th>{{ 'Tracker.Phone' | translate }}</th>
            <th>{{ 'Tracker.Email' | translate }}</th>
            <th>{{ 'Tracker.Gender' | translate }}</th>
            <th>{{ 'Tracker.Controls' | translate }}</th>
        </tr>
        <tr>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'clientName', 'startsWith')" [placeholder]="'Tracker.name' | translate" 
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="text"
                    (input)="dt.filter($event.target.value, 'clientCode', 'startsWith')" [placeholder]="'Tracker.Code' | translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'organizationName', 'contains')"[placeholder]="'Tracker.OrganizationName' | translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'address', 'contains')" [placeholder]="'Tracker.Address' | translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText type="text" style="width: 100%"
                    (input)="dt.filter($event.target.value, 'Phone', 'contains')" [placeholder]="'Tracker.Phone' | translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="email"
                    (input)="dt.filter($event.target.value, 'email', 'startsWith')" placeholder="Email" [placeholder]="'Tracker.Email' | translate"
                    class="p-column-filter">
            </th>
            <th>
                <input pInputText style="width: 100%;" type="email"
                    (input)="dt.filter($event.target.value, 'gender', 'startsWith')" [placeholder]="'Tracker.Gender' | translate"
                    class="p-column-filter">
            </th>
<th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-client>
        <tr>
            <td>
                {{client.clientName}}
            </td>
            <td>
                {{client.clientCode}}
            </td>
            <td>
                {{client.organizationName}}
            </td>
            <td>
                {{client.address}}
            </td>
            <td>
                {{client.phone}}
            </td>
            <td>
                {{client.email}}
            </td>
            <td>
                {{client.gender}}
            </td>
            <td>
                <!-- <span class="pi pi-compass" aria-hidden="true" (click)="showBasicDialog(client.id)"></span>
                &nbsp; -->
                <span class="p-button-icon pi pi-pencil" aria-hidden="true"
                    [routerLink]="['/home/editClient',client.id]"></span>&nbsp;
                <span class="p-button-icon pi pi-times" (click)="confirm(client.id)" aria-hidden="true"></span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="6"> {{ 'Tracker.No clients found.' | translate }}</td>
        </tr>
        <tr>

        </tr>
    </ng-template>

</p-table>


<!-- <p-dialog header="Details" [(visible)]="displayBasic" [style]="{width: '70vw'}" [baseZIndex]="10000">
    <div class="row">
        <div class="col-md-6 form-control"><span class="bold">Client Name : </span>&nbsp;{{clientObj.clientName}}
        </div>
        <div class="col-md-6 form-control"><span class="bold">Department Name : </span>&nbsp;{{clientObj.clientCode}}
        </div>
        <br>
        <div class="col-md-6 form-control"><span class="bold">Email : </span>&nbsp; {{clientObj.email}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-control"><span class="bold">Department Name : </span>&nbsp;{{clientObj.organizationName}}
        </div>
        <div class="col-md-6 form-control"><span class="bold">Phone : </span>&nbsp;{{clientObj.phone}}
        </div>
        <div class="col-md-6 form-control"><span class="bold">Address : </span>&nbsp;{{clientObj.address}}
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [routerLink]="['/editClient',clientObj.id]" label="Update"
            styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayBasic=false" label="No"></p-button>
    </ng-template>
</p-dialog> -->