.labelMarginRight{
    margin-right: 10px;
}
:host ::ng-deep .p-dropdown{
    /* width: 12rem; */
  width: 100%
  }
  :host ::ng-deep .p-multiSelect{
    /* width: 12rem; */
  width: 100%;
  }
    :host ::ng-deep .p-calendar{
    /* width: 12rem; */
  width: 100%;
  }
  button {
    min-width: 10rem;
    margin-right: .5rem;
}

input{
  width: 100%;
}
::ng-deep .mat-horizontal-stepper-header
{
  pointer-events: none !important;
}
