.parent {
    height: 200px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .child {
    
        width: 50%;
        height: 100px;
      
        }
        input{
            width: 60%;
        }