<!-- <div class="container card">
<h1 [translate]="'Tracker.Add Sub Category'" style="margin-bottom: 20px; font-size: 2em;color: #2674a8;"></h1><br>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText  [placeholder]="'Tracker.SubCategory Name'|translate "
                            [(ngModel)]="subCategory.subCategoryName" #sup ="ngModel" class="form-control"  [class.is-invalid]="sup.invalid && sup.touched" required minlength="3" [class.is-valid]="sup.valid" >
                    </div>
                    <small [hidden]="sup.valid || sup.untouched" id="helpId" class="text-danger validation"
                            [translate]="'Tracker.messege'" > </small>
                </div>

                <div class="p-col-12 p-md-4">
                    <label class="labelstyle">{{'Tracker.Select Category Name'|translate}}</label>
                    <select [(ngModel)]="subCategory.requestCategoryId" name="id" class="form-control">emp
                        <option *ngFor="let the of lstCategories" value="{{the.id}}">{{the.categoryName}}
                        </option>
                    </select>
                </div>
                <div class="p-col-12 p-md-4">
                    <button class="btn btn-info" style="margin-top: 20px;float: right;" (click)="SaveSubCatToDB()">
                        {{'Tracker.Save To List'|translate}} </button>
                </div>
            </div>
        </div>


    </div>
    <div class="col">
        <div class="p-col-12 p-md-2"><button class="btn btn-warning" (click)="displayMaximizable=true">
            {{'Tracker.ADD CATEGORY'|translate}}    </button></div>
        <div class="col">
            <p-dialog id="PopupWindow" [header]="'Tracker.Add Category' |translate" header="Show Project Data" [(visible)]="displayMaximizable" [modal]="true"
                [style]="{width: '50vw'}"[baseZIndex]="10000">
                <form>
                    <div class="row">
                        <div class="col">
                            <label class="labelstyle" >{{'Tracker.Category Name'|translate}}</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" name="categoryName" pInputText [placeholder]="'Tracker.Category Name' | translate"
                                    [(ngModel)]="category.categoryName" #sup ="ngModel" class="form-control" #cat="ngModel"  [class.is-invalid]="cat.invalid && cat.touched" required minlength="3" [class.is-valid]="cat.valid">
                            </div>
                            <small [hidden]="cat.valid || cat.untouched" id="helpId" class="text-danger validation"
                            [translate]="'Tracker.messege'" > </small>
                        </div>

                        <div class="col">
                            <label class="labelstyle">{{'Tracker.Department Name'|translate}}</label>
                            <select [(ngModel)]="category.departmentId" name="id" class="form-control">emp
                                <option *ngFor="let the of departments" value="{{the.id}}">{{the.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="SaveCatToDB()" [label]="'Tracker.Ok'|translate"
                        styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>

        </div>

    </div>

</div></div> -->


<div class="card" #ejDialog>
    <div class="card-body">
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="row top-buffer">
                <div class="col-12">
                    <label for="catName" [translate]="'Tracker.Category Name'"> </label>
                    <input type="text" class="form-control" id="catName" name="catName" pTooltip="Enter category Name"
                        [placeholder]="'Tracker.Category Name' | translate" tooltipPosition="bottom" [(ngModel)]="category.categoryName"
                        #catName="ngModel" [class.is-invalid]="
                      (catName.touched && catName.errors) || form.submitted" [class.is-valid]="catName.valid && form.submitted"
                        required />
                    <div *ngIf="(catName.touched || form.submitted) && catName.errors?.required">
                        <span class="text-danger" [translate]="'Tracker.Category Name'"></span>
                    </div>
                </div>
                <div class="col-12">
                    <label class="labelstyle">{{'Tracker.Department Name'|translate}}</label>
                    <select [(ngModel)]="category.departmentId" name="id" class="form-control">emp
                        <option *ngFor="let the of departments" value="{{the.id}}">{{the.name}}
                        </option>
                    </select>
                </div>
            </div>
            <br><br>
            <div class="row top-buffer">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary pull-center btn-sm" [translate]="'Tracker.Save'"
                        style="margin:0px 5px;background-color: #1483c2;border-color: #1483c2"></button>

                    <button class="btn btn-primary pull-center btn-sm" value="Reset" type="button"
                        style="margin: 0px 5px;background-color: #1483c2;border-color: #1483c2;width: 100px;"
                        (click)="reset()">
                        {{ 'Tracker.Reset' | translate }}
                    </button>

                    <!-- <button class="btn btn-primary pull-center btn-sm" (click)="back()"
                        style="margin: 0px 5px;background-color: #7e8083 !important;border-color:#7e8083">Back</button> -->
                </div>
            </div>
        </form>
    </div>
</div>


<!-- <p-dialog [(visible)]="display" [style]="{width: '350px'}">
    <ng-template pTemplate="header">
        <h6 [translate]="''" style="color: #04527e;font-weight: bold;font-size: 16pt;">{{ 'Asset.Save' | translate }}
        </h6>
    </ng-template>
    <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'Asset.SavedSuccess' |
        translate }}</span>
</p-dialog>

<p-dialog [(visible)]="errorDisplay" [style]="{ width: '350px' }">
    <p-header style="color: rgb(181, 4, 4)"> {{ 'Asset.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4); font-weight: bold">
        {{ errorMessage }}</span>
</p-dialog> -->