<div class="container card">
<h1 [translate]="'Tracker.Add Sub Category'" style="margin-bottom: 20px; font-size: 2em;color: #2674a8;"></h1><br>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText [placeholder]="'Tracker.SubCategory Name'|translate "
                            [(ngModel)]="subCategory.subCategoryName">
                    </div>
                </div>

                <div class="p-col-12 p-md-4">
                    <label class="labelstyle">{{'Tracker.Select Category Name'|translate}}</label>
                    <select [(ngModel)]="subCategory.RequestCategoryId" name="id" class="form-control">emp
                        <option *ngFor="let the of lstCategories" value="{{the.id}}">{{the.categoryName}}
                        </option>
                    </select>
                </div>
                <div class="p-col-12 p-md-4">
                    <button class="btn btn-info" style="margin-top: 20px;float: right;" (click)="SaveSubCatToDB()">
                        {{'Tracker.Save To List'|translate}} </button>
                </div>
            </div>
        </div>


    </div>
    <div class="col">
        <div class="p-col-12 p-md-2"><button class="btn btn-warning" (click)="displayMaximizable=true">
            {{'Tracker.ADD CATEGORY'|translate}}    </button></div>
        <div class="col">
            <p-dialog id="PopupWindow" [header]="'Tracker.Add Category' |translate" header="Show Project Data" [(visible)]="displayMaximizable" [modal]="true"
                [style]="{width: '50vw'}"[baseZIndex]="10000">
                <form>
                    <div class="row">
                        <div class="col">
                            <label class="labelstyle" >{{'Tracker.Category Name'|translate}}</label>
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                <input type="text" name="categoryName" pInputText [placeholder]="'Tracker.Category Name' | translate"
                                    [(ngModel)]="category.categoryName">
                            </div>
                        </div>

                        <div class="col">
                            <label class="labelstyle">{{'Tracker.Department Name'|translate}}</label>
                            <select [(ngModel)]="category.departmentId" name="id" class="form-control">emp
                                <option *ngFor="let the of departments" value="{{the.id}}">{{the.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="SaveCatToDB()" [label]="'Tracker.Ok'|translate"
                        styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>

        </div>

    </div>

</div></div>