<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style="width: 90%;">
    <div *ngIf="role!='Client'" >
        <div class="card user-card">
            <div class="card-header" style="text-align: center;">
                <h5 style="text-align: center; font-size: 50px; color: rgb(165, 163, 42);">Profile</h5>
            </div>
            <div class="card-block"> 
                <div class="user-image">
                    <!-- <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-radius" alt="User-Profile-Image"> -->
                    <img class="img-thumbnail" class="img-radius" class="roounded"
                    src="{{getimage}}api/employees/getImage/{{imgName}}" alt="" width="50px"
                        height="50px" style="border-radius: 50%;">
                </div>
                <h6 class="f-w-700 m-t-25 m-b-10" style="font-size: 30px; color: #007bff;">{{employee.employeeName}}
                </h6>
                <p style="font-size: 15px;font-weight: bold; color: rgb(255, 0, 0);">{{employee.email}}</p>

                <p class="text-muted" style="font-size: 20px;color: blue;">{{employee.maritalStatus}} |
                    {{employee.gender}} | {{employee.dateOfBirth|date:'MM/dd/yyyy'}}</p>
                <span>
                    <a style="color: #4099ff;text-decoration: underline;cursor: pointer;" (click)="navigateToChangePassword(employee)">Change Password</a>
                </span>

                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="bg-c-green counter-block m-t-10 p-20">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-comment"></i>
                            <p>{{employee.address}}</p>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-user"></i>
                            <p>8562</p>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-suitcase"></i>
                            <p>{{employee.phone}}</p>
                        </div>
                    </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                    <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                    <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                    <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="role=='Client'" >
        <div class="card user-card">
            <div class="card-header" style="text-align: center;">
                <h5 style="text-align: center; font-size: 50px; color: rgb(165, 163, 42);">Profile</h5>
            </div>
            <div class="card-block">
                <!-- <div class="user-image">
                    <img class="img-thumbnail" class="img-radius" class="roounded"
                        src="http://localhost:50653/api/Clients/getImage/{{clientImage}}" alt="" width="50px"
                        height="50px" style="border-radius: 50%;">
                </div> -->
                <h6 class="f-w-700 m-t-25 m-b-10" style="font-size: 30px; color: #007bff;">{{client.clientName}}
                </h6>
                <p style="font-size: 15px;font-weight: bold; color: rgb(255, 0, 0);">{{client.email}}</p>

                <p class="text-muted" style="font-size: 20px;color: blue;">{{client.organizationName}} |
                    {{client.gender}}</p>
                <span>
                    <a style="color: #4099ff;text-decoration: underline;cursor: pointer;" (click)="navigateToChangePasswordClient(client)">Change Password</a>
                </span>

                <hr>
                <p class="text-muted m-t-15">Activity Level: 87%</p>
                <ul class="list-unstyled activity-leval">
                    <li class="active"></li>
                    <li class="active"></li>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="bg-c-green counter-block m-t-10 p-20">
                    <div class="row">
                        <div class="col-4">
                            <i class="fa fa-comment"></i>
                            <p>{{client.address}}</p>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-user"></i>
                            <p>8562</p>
                        </div>
                        <div class="col-4">
                            <i class="fa fa-suitcase"></i>
                            <p>{{client.phone}}</p>
                        </div>
                    </div>
                </div>
                <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <hr>
                <div class="row justify-content-center user-social-link">
                    <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
                    <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
                    <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    

</div>