.labelMarginRight{
    margin-right: 10px;
}
:host ::ng-deep .p-dropdown {
  width: 100%;
}
input{
    width: 100%;
}
button {
  min-width: 10rem;
  margin-right: .5rem;
}
.ng-valid[required] {
  border: 1px solid silver;
  border-left: 5px solid #42A948;
  background-image: none;
  padding-right: 0%;
}

