<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="p-col-12 p-md-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText [placeholder]="'Tracker.Problem Name' |translate"
                            [(ngModel)]="problemObj.problemName">
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <button class="btn btn-info" style="margin-top: 20px;float: right;" (click)="SaveDepToDB()">
                        {{'Tracker.Save'|translate}} </button>
                </div>

            </div>
        </div>
    </div>
</div>