<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <h4>{{message.summary}}</h4>
                <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
<br><br>
<div class="container">
    <p-table id="my-table" class="container card" #dt dataKey="id" [rows]="5" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5,10,50]" styleClass="p-datatable-customers" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
        [globalFilterFields]="['sitename']" [value]="lstSites">
        <ng-template pTemplate="caption">
            <h1 style="margin-bottom: 20px; font-size: 2em;color: #2674a8; " [translate]="'Tracker.Sites'"></h1>
            <div class="row">
                <div class="table-header col-md-10">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"/>
                    </span>
                </div>
                <div class="col-md-2">
                    <button id="addEmpBtn" (click)="NewDialog()" class="btn btn-outline-primary btn-md btn-block">
                        <span class="pi pi-plus" [translate]="'Tracker.Add'"> </span> </button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr style="height: 5px !important; ">
              <th pSortableColumn="sitename"> {{'Tracker.Hospital Name' | translate}}
                    <p-sortIcon field="sitename"></p-sortIcon>
                </th>
                  <th pSortableColumn="sitename"> {{'Tracker.Phone' | translate}}
                    <p-sortIcon field="sitename"></p-sortIcon>
                </th>
                <th pSortableColumn="sitename"> {{'Tracker.Governorate' | translate}}
                    <p-sortIcon field="sitename"></p-sortIcon>
                </th>
                <th pSortableColumn="sitename">{{'Tracker.city' | translate}} 
                    <p-sortIcon field="sitename"></p-sortIcon>
                </th>
                <th pSortableColumn="sitename"> {{'Tracker.Address' | translate}}
                    <p-sortIcon field="sitename"></p-sortIcon>
                </th>
                
                <th [translate]="'Tracker.Controls'"></th>
           
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-site>
            <tr style="height: 5px !important;font-size: 17px;">
                <td>{{site.sitename}}</td>
                <td>{{site.phone}}</td>               
                <td>{{site.governorateName}}</td>               
                <td>{{site.cityName}}</td>  
                <td>{{site.address}}</td>            
                <td>
                    <!-- <span class="pi pi-compass" style="cursor: pointer;" aria-hidden="true"
                        (click)="showBasicDialog(site.id)"></span> -->
                    <span class="pi pi-pencil" style="cursor: pointer;margin-left: 15px;" aria-hidden="true"
                        (click)="EditDialog(site.id)"></span>
                    <!--<span class="pi pi-times" style="cursor: pointer;margin-left: 15px;" (click)="confirm(site.id)" aria-hidden="true"></span> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- <p-dialog [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <h1 style="margin-bottom: 20px; font-size: 1.2em;color: #2674a8;">site Details</h1>
    <tr class=" form-control">
        <th><span style="margin-right: 20px;">Site Name : </span></th>
        <td>{{SitesObj.sitename}}</td>
    </tr>
</p-dialog> -->

<form #frms="ngForm">
    <p-dialog [(visible)]="Editboolean" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <h1 style="margin-bottom: 20px; font-size: 1.2em;color: #2674a8;" [translate]="'Tracker.Update Hospital'"></h1>
        <div class="form-group">
            <label  for="sitename" [translate]="'Tracker.Hospital Name'"></label>
            <input name="sitename" pInputText type="text" class=" col-md-6 form-control" required #Namee="ngModel" [class.is-invalid]="Namee.invalid && Namee.touched"
            [class.is-valid]="Namee.valid" required  minlength="3" aria-describedby="nameHelp"
                [(ngModel)]="SitesObj.sitename" inputId="date" [placeholder]="'Hospital Name' | translate">
                <small id="nameHelp" class="form-text"   [hidden]="Namee.valid || Namee.untouched" id="helpId" class="text-danger validation" [translate]="'Tracker.messege'"
                 >   </small> 
        </div>  
            
        <div class="form-group">
            <label  for="Phonee" [translate]="'Tracker.Phone'"></label>
            <input  name="phonee" pInputText type="text" class=" col-md-6 form-control" required #phonee="ngModel" [class.is-invalid]="phonee.invalid && phonee.touched"
            [class.is-valid]="phonee.valid" required  pattern="^01[0-2,5]{1}[0-9]{8}$" name="phone"
                [(ngModel)]="SitesObj.phone" inputId="date" [placeholder]="'Tracker.Phone'| translate">
                <small  class="form-text"  [hidden]="phonee.valid || phonee.untouched" id="helpId" class="text-danger validation" [translate]="'Tracker.phoneNumber'"
                >   </small> 
        </div>
        <div class="form-group">
            <label   for="Addresss" [translate]="'Tracker.Address'"></label>
            <input name="addresss" pInputText type="text" class="col-md-6 form-control" required minlength="3" required #Addresss="ngModel" [class.is-invalid]="Addresss.invalid && Addresss.touched"
            [class.is-valid]="Addresss.valid"  
                [(ngModel)]="SitesObj.address" inputId="date" [placeholder]="'Tracker.Address'| translate">
                <small class="form-text" [hidden]="Addresss.valid || Addresss.untouched" id="helpId" class="text-danger validation" [translate]="'Tracker.messege'"
                >   </small> 
        </div> 
        <div class="form-group">           
            <label  [translate]="'Tracker.Governorate'"></label>
            <select [(ngModel)]="SitesObj.governorateId" style="width:50% ;"  name="gov" class="form-control" (change)="OnchangeGovId($event)">
                <option  disabled> select governorate </option>
                <option *ngFor="let item of GovList" value="{{item.id}}">{{item.governorateName}}</option>
            </select>
        </div>  
        <div class="form-group">
            <label  [translate]="'Tracker.city'" ></label>
            <select  [(ngModel)]="SitesObj.cityId" style="width:50% ;" name="cityId" class="form-control"    >
                <option   disabled  > select city </option>
                <option   *ngFor="let item of citiesFiter" value="{{item.id}}">{{item.cityName}}</option>
            </select>
            
        </div>  
        <ng-template pTemplate="footer">
            <p-button (onClick)="update(SitesObj.id)" type="submit" icon="pi pi-check" [disabled]="frms.invalid"
                styleClass="p-button-text">{{'Tracker.Submit' | translate}}</p-button>
            <p-button icon="pi pi-times" (click)="Editboolean=false">{{'Tracker.Cancel' | translate}} </p-button>
            
        </ng-template>

    </p-dialog>
</form>
<div class="container"> 
 <p-toast position="top-center" key="as" [baseZIndex]="1000000"></p-toast>
    <form #frm="ngForm" (ngSubmit)="onsubmit()">
   
        <p-dialog [(visible)]="NewDialogbool" [style]="{width: '40vw'}" [baseZIndex]="10000">
            <h1 style="margin-bottom: 20px; font-size: 1.2em;color: #2674a8;"  [translate]="'Tracker.Add Hospital'"></h1>
            <div class="form-group">
                <label  for="sitename" [translate]="'Tracker.Hospital Name'"></label>
                <input name="sitename" pInputText type="text" class=" col-md-6 form-control" required #Name="ngModel" [class.is-invalid]="Name.invalid && Name.touched"
                [class.is-valid]="Name.valid" required  minlength="3" aria-describedby="nameHelp"
                    [(ngModel)]="SitesObj.sitename" inputId="date" [placeholder]="'Hospital Name' | translate">
                    <small id="nameHelp" class="form-text"   [hidden]="Name.valid || Name.untouched" id="helpId" class="text-danger validation" [translate]="'Tracker.messege'"
                     >   </small> 
            </div>  
            <div class="form-group">
                <label  for="Phone" [translate]="'Tracker.Phone'"></label>
                <input  name="phone" pInputText type="text" class=" col-md-6 form-control" required #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched"
                [class.is-valid]="phone.valid" required  pattern="^01[0-2,5]{1}[0-9]{8}$" name="phone"
                    [(ngModel)]="SitesObj.phone" inputId="date" [placeholder]="'Tracker.Phone'| translate">
                    <small  class="form-text"  [hidden]="phone.valid || phone.untouched" id="helpId" class="text-danger validation" [translate]="'Tracker.phoneNumber'"
                    >   </small> 
            </div>  
            <div class="form-group">
                <label   for="Address" [translate]="'Tracker.Address'"></label>
                <input name="address" pInputText type="text" class="col-md-6 form-control" required minlength="3" required #Address="ngModel" [class.is-invalid]="Address.invalid && Address.touched"
                [class.is-valid]="Address.valid"  
                    [(ngModel)]="SitesObj.address" inputId="date" [placeholder]="'Tracker.Address'| translate">
                    <small class="form-text" [hidden]="Address.valid || Address.untouched" id="helpId" class="text-danger validation" [translate]="'Tracker.messege'"
                    >   </small> 
            </div>  
            <div class="form-group">
                <label   [translate]="'Tracker.Governorate'"></label>
                <select [(ngModel)]="SitesObj.governorateId" style="width:50% ;"  name="gov" class="form-control" (change)="OnchangeGovId($event)"  >
                    <option value="0" selected disabled> select governorate </option>
                    <option *ngFor="let item of GovList" value="{{item.id}}">{{item.governorateName}}</option>
                </select>
            </div>  
            <div class="form-group">
                <label [translate]="'Tracker.city'" ></label>
                <select  [(ngModel)]="SitesObj.cityId" style="width:50% ;" name="cityId" class="form-control" >
                    <option value="0"  disabled  selected> select city </option>
                    <option   *ngFor="let item of citiesFiter" value="{{item.id}}">{{item.cityName}} </option>
                </select>
                
            </div> 
           
            <ng-template pTemplate="footer">
              
          <p-button (onClick)="add()" type="submit" icon="pi pi-check" [disabled]="frm.invalid"
                styleClass="p-button-text">{{'Tracker.Submit' | translate}}</p-button>
            <p-button icon="pi pi-times" (click)="NewDialogbool=false">{{'Tracker.Cancel' | translate}} </p-button>
            </ng-template> 
    
        </p-dialog>
    </form>
</div>
