<!-- <br>
<br>
<div class="container card" style="float: center;">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
        </div>

          <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="input-group col-md-5">
                    <input [type]="fieldTextType ? 'text' : 'password'" id="password" formControlName="password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                        required</em>
                        <em *ngIf="validateControl('password') && hasError('password', 'pattern')">Password Must be strong  </em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="input-group col-md-5">
                    <input  [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm" formControlName="confirm" class="form-control" required />
                    <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !repeatFieldTextType,
                              'fa-eye': repeatFieldTextType
                            }"
                            (click)="toggleRepeatFieldTextType()"
                          ></i>
                        </span>
                      </div>
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is
                        required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form> 
    </div>
</div>   -->
<!-- <div class="reset-info">
    <h2>Reset your password</h2>
    <p>Strong Password Tips Must have the following:-</p>
    <ol class="list-unstyled">
        <li><span class="text-primary text-medium">1. </span>At least 1 Uppercase and 1 Lowercase  </li>
        <li><span class="text-primary text-medium">2. </span>At least 1 Symbol,symbol allowed  !@#$ %^&*_=+- </li>
        <li><span class="text-primary text-medium">3. </span>At least 1 Number. </li>
        <li><span class="text-primary text-medium">4. </span>Min 8 chars and Max 12 chars</li>
    </ol>
</div> -->
<!doctype html>
  <html>
     <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     </head>

     <body>
        <div class="basic" >

                <img src="../../assets/images/mostakbal.png" style="width: 70px; position: initial;" alt="RIS Image">

            <h3 style="display:inline-block;" >{{ 'Tracker.TRACKER SYSTEM' | translate }} </h3>
          </div>
        <div class="container padding-bottom-3x mb-2 mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10">
                
                    <div class="reset-info">
                        <h2>Reset  password</h2>
                        <p >Strong Password Tips Must have the following:-</p>
                        <ol class="list-unstyled">
                            <li><span class="text-primary text-medium">1. </span>At least 1 Uppercase and 1 Lowercase  </li>
                            <li><span class="text-primary text-medium">2. </span>At least 1 Symbol,symbol allowed  !@#$ %^&*_=+- </li>
                            <li><span class="text-primary text-medium">3. </span>At least 1 Number, Min 6 chars and Max 12 chars </li>
            
                        </ol>
                    </div> <br> <br>
                    <div *ngIf="showError" class="alert alert-danger" role="alert">
                        <!-- <span [innerHTML]="errorMessage"></span>    -->
                        something wrong Plz try again
                    </div>

                    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                        Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
                    </div> 
                    <form class="card mt-4" [formGroup]="resetPasswordForm" autocomplete="off" novalidate
                    (ngSubmit)="resetPassword(resetPasswordForm.value)">
                        <div class="card-body">
                            <div class="form-group row">
                                 <label style="padding-left:1%;"  for="password"  >Password:</label>
                                <input [type]="fieldTextType ? 'text' : 'password'" id="password" formControlName="password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,12}$">

                                    <small class="text-danger"  *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                                      required</small>
                                    <small class="text-danger" *ngIf="validateControl('password') && hasError('password', 'pattern')">Password Must be strong  </small>

                            </div>
                            <div class="form-group row">
                              <label style="padding-left:1%;" for="confirm">Confirm Password:</label>
                             <input  [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm" formControlName="confirm" class="form-control" required />

                                 <small class="text-danger" *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is
                                  required
                                  </small>
                                 <small class="text-danger" *ngIf="hasError('confirm', 'mustMatch')">Passwords must match </small>

                         </div>
                         <button  type="submit" class="btn btn-success" [disabled]="!resetPasswordForm.valid" >Submit</button>
                        </div>
                          
                        
                       
                    </form>
                    
                   
             
      
                    <!-- <div *ngIf="showError" class="alert alert-danger" role="alert">
                      <span [innerHTML]="errorMessage"></span>
                  </div>

                  <div *ngIf="showSuccess" class="alert alert-success" role="alert">
                      Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
                  </div> -->
                </div>
            </div>
        </div>
     </body>
 </html>
