<br>
<br>
<div class="container card" style="float: center;">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>

        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <span [innerHTML]="errorMessage"></span>
        </div>

        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
        </div>

          <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="input-group col-md-5">
                    <input [type]="fieldTextType ? 'text' : 'password'" id="password" formControlName="password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is
                        required</em>
                        <em *ngIf="validateControl('password') && hasError('password', 'pattern')">Password Must be strong  </em>
                </div>
            </div>
            <div class="form-group row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="input-group col-md-5">
                    <input  [type]="repeatFieldTextType ? 'text' : 'password'" id="confirm" formControlName="confirm" class="form-control" required />
                    <div class="input-group-append">
                        <span class="input-group-text">
                          <i
                            class="fa"
                            [ngClass]="{
                              'fa-eye-slash': !repeatFieldTextType,
                              'fa-eye': repeatFieldTextType
                            }"
                            (click)="toggleRepeatFieldTextType()"
                          ></i>
                        </span>
                      </div>
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is
                        required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form> 
    </div>
</div>  
<!-- <div class="reset-info">
    <h2>Reset your password</h2>
    <p>Strong Password Tips Must have the following:-</p>
    <ol class="list-unstyled">
        <li><span class="text-primary text-medium">1. </span>At least 1 Uppercase and 1 Lowercase  </li>
        <li><span class="text-primary text-medium">2. </span>At least 1 Symbol,symbol allowed  !@#$ %^&*_=+- </li>
        <li><span class="text-primary text-medium">3. </span>At least 1 Number. </li>
        <li><span class="text-primary text-medium">4. </span>Min 8 chars and Max 12 chars</li>
    </ol>
</div> -->